@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Lobster&display=swap');

html{
    scroll-behavior: smooth;
}

body{
	font-family: 'Cabin', sans-serif;
    background-color: #000000;

}

 /*Inicio CSS Nav*/

.navscroll {
    background-color: transparent;
    color:#000000;
    transition:background-color 500ms, color 500ms;
}

.navscroll.black {
    background-color: rgba(0,0,0,0.9);
}

.nav-link{
    color: #ffffff;
    font-size: 1rem;
}

/*a:-webkit-any-link {
    color: white;
}*/

.navbar-brand img{
    max-width: 8%;
}


/* Medias para controlar tamañao del logo y fondo*/
            @media only screen and (max-width: 768px) {

                         .navbar{
                        background-color: rgba(0,0,0,0.9);
                    }

                        .nav-link{
                        color: #ffffff;
                        font-size: 1rem;
                    }
                        .navbar-brand{
                        max-width: 50%;
                    }

                        .navbar-brand img{
                        max-width: 16%;
                    }

                    }

            @media only screen and (max-width: 568px) {

                       .navbar{
                        background-color: rgba(0,0,0,0.9);
                    }
                    
                    .nav-link{
                        color: #ffffff;
                        font-size: 1rem;
                    }
                       

                        .navbar-brand{
                        max-width: 50%;
                    }

                        .navbar-brand img{
                        max-width: 20%;
                    }

                    }


h1{
    font-weight: 700;
    font-size: 1.5rem;
    display: inline-block;
    margin: 0 0;
}

/*fin dde CSS Nav*/


h2{
    color:#ffffff;
	font-weight: 400;
	font-size: 2.5rem;
	display: inline-block;
	border-bottom: 1px solid #17a2b8;
	padding-bottom: 2rem;
}

h3{
    color:#ffffff;
    font-weight: 400;
    font-size: 1.25rem;
}

h4{
    color:#ffffff;
    font-weight: 400;
    font-size: 3rem;
}

.card-qs {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}

.card-img-top{
    max-height: 10rem;
    width: 100%;
    object-fit: cover; 

}
 
.card p {
    color:#ffffff;
    font-weight: 400;
    margin-top: 1rem;
} 

/*Seccion Pagos*/

.seccion-pagos {
    background-color: #212529;
    padding: 3.625rem 0 3.625rem 0;
}

.seccion-pagos p{
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    margin: 0 2rem 0 0;
}

.seccion-pagos i{
    color: #ffffff;
    margin-left: 1rem;
}



/* iconos hover*/
/*iconos Quienes somos*/
.fa-plane-departure:hover {
    color: black;
    transition: color 500ms;
}
.fa-hotel:hover {
    color: black;
    transition: color 500ms;
}
.fa-route:hover {
    color: black;
    transition: color 500ms;
}

/*icnons footer*/

.fa-github-square:hover {
    color: black;
    transition: color 500ms;
}

.fa-linkedin:hover {
    color: black;
    transition: color 500ms;
}
.fa-facebook-square:hover {
    color: black;
    transition: color 500ms;
}
.fa-twitter-square:hover {
    color: black;
    transition: color 500ms;
}
